@import "_vars";

html {
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}
@font-face {
  font-family: "Gilroy";
  src: local("GilroyBold"), url("../fonts/GilroyBold.woff2") format("woff2"), url("../fonts/GilroyBold.woff") format("woff");
  font-display: swap;
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Gilroy";
  src: local("GilroyMedium"), url("../fonts/GilroyMedium.woff2") format("woff2"), url("../fonts/GilroyMedium.woff") format("woff");
  font-display: swap;
  font-weight: 500;
  font-style: normal;
}

body {
  margin: 0;
  min-width: 320px;
  font-family: "Gilroy", sans-serif;
  background-color: #FFFFFF;
}


img {
	max-width: 100%;
	// display: block;
	// width: 100%;
	// // height: 100%;
	// object-fit: cover;
}

a {
	text-decoration: none;
}

ul {
	@include list-reset;
}

.btn {
	@include btn-reset;
}

.text {
	@include text-reset;
}

.container {
	max-width: 1445px;
	min-width: 320px;
	margin: 0 auto;
}

