.skills {
	&__conteiner {
		margin: 90px var(--paddingRight) 110px var(--paddingLeft);
	}

	&__list {
		display: flex;
		justify-content: center;
		align-items: stretch;
		flex-wrap: wrap;
	}

	&__item {
		height: auto;

		&-img {
			width: 89px;
			height: 88px;
			margin: 0 auto;
		}
	}

	&__item:not(:last-child) {
		margin-right: 90px;
	}

	&__item {
		&-heder {
			@include text-reset;
			margin-top: 24px;
			margin-bottom: 42px;
			font-weight: 700;
			font-size: 14px;
			line-height: 17px;
			text-align: center;
			color: var(--color_grey);
		}
&-grade{
	display: flex;
	justify-content: center;
	align-items: center;
}
		&-box {
			// display: inline-flex;
			// flex-direction: column;
			// align-items: center;
			// justify-content: center;
			// width: 167px;
			display: flex;
			flex-direction: column;
			height: 100%;
			width: 167px;
		}
	}

	// &__textraiting {
	// 	margin-top: auto;
	// }

	&__title {
		@include text-reset;
		margin-bottom: 56px;
		font-weight: 700;
		font-size: 34px;
		line-height: 42px;
		text-align: center;
		color: var(--color_black2);

		&-descr {
			@include text-reset;
			margin-bottom: 84px;
			font-weight: 500;
			font-size: 18px;
			line-height: 22px;
			text-align: center;
			color: var(--color_black2)
		}
	}
}

@media only screen and (max-width: 1400px) {
	.skills__item:not(:last-child) {
		margin-right: 0;
		margin-bottom: 81px;
	}
}